{{ define "main" }}

{{ $Pages := .Pages }}

{{ if .IsHome }}
  {{ $Pages = where site.RegularPages "Type" "in" site.Params.mainSections }}
{{ end }}

<article>
  <header><h1>{{ .Title | default "թարգմանութիւններ" | humanize }}</h1></header>
  <ul class="archive">
    {{- range $Pages }}
    <li>
      {{ if .Date }}<time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "2006-01-02" }}</time>{{ end }}
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </li>
    {{- end }}
  </ul>
  {{ .Content }}
</article>

{{ end }}
