{{ define "main" -}}
<div class="posts">
{{ range .Site.RegularPages -}}
<p class="post">
  <p class="post-title">
    <ul>
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </ul>
  </p>
  {{ if .Truncated }}
  {{ end }}
{{- end }}
</div>
{{- end }}
